__pycache__
sample*
datasets/
.ipynb_*/
dataset/
wandb/
models/
saved_models/
*.pickle
colab/
models_work/
.vscode/
tester/data/*
tester/.env
tester/strategies/models/*
production/strategies/models/*
production/.env
